body {
	font-family: sans-serif;
	line-height: 1.5;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
	margin: 0;
 }
 
 ul,
 ol {
	margin: 0;
	padding: 0;
 }
 
 img {
	display: block;
	max-width: 100%;
 }

 .appContainer {
	margin: 0 auto;
	width: 500px;
 }

 .mainTitle {
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
 }