.container {
	border: 1px solid black;
	border-radius: 6px;
	padding: 6px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 100px;
	/* margin: 0 auto; */
	height: 100px;
	width: 360px;
 }

 .wrap {
	display: flex;
	flex-direction: column;
	gap: 16px;
 }
 
 .name {
	margin: 0;
 }

 .icon {
margin: 0 10px;
 }

 .btn {
	color: whitesmoke;
	background-color: red;
	border-radius: 4px;
 }
 